:host {
    --color-primary: #3753ff;
    --color-verified: #3753ff;
    --color-focus: rgba(55, 83, 255, .5);
    --color-text: #1c1c1c;
    --color-bg: #fff;
    --color-text-on-primary: #fff;
    --widget-offset: 1rem;
    --widget-position: fixed;
    --widget-top: auto;
    --widget-right: var(--widget-offset);
    --widget-bottom: var(--widget-offset);
    --widget-left: auto;
    --widget-z-index: 1000;
    --color-icon-bg: var(--color-primary);
    --color-icon-check: var(--color-text-on-primary);
    --open-padding: .6875rem;
    --color-border: #ececec;
    --transition-duration: .2s;
    --transition-timing: ease-out;
    --transition: color var(--transition-duration) var(--transition-timing),
    opacity var(--transition-duration) var(--transition-timing),
    filter var(--transition-duration) var(--transition-timing),
    box-shadow var(--transition-duration) var(--transition-timing),
    transform var(--transition-duration) var(--transition-timing),
    background-color var(--transition-duration) var(--transition-timing);

    position: var(--widget-position);
    top: var(--widget-top);
    right: var(--widget-right);
    bottom: var(--widget-bottom);
    left: var(--widget-left);
    z-index: var(--widget-z-index);
    max-width: calc(100vw - (2 * var(--widget-offset)));
    line-height: 1.5;
    letter-spacing: 0;
    font-family: -apple-system, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &,
    * {
        &:focus {
            outline: none;
            box-shadow: inset 0 0 0 .2rem var(--color-focus);
        }
    }
}

svg {
    display: inline-block;
}

details {
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, .2));
    border-radius: .5rem;
    position: relative;
    overflow: hidden;

    > section {
        max-height: 70vh;
        overflow: auto;
        scroll-behavior: smooth;
    }

    &[open] {
        background-color: var(--color-bg);
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .2);

        &:before,
        &:after {
            content: '';
            width: 100%;
            height: calc(var(--open-padding) * 2);
            display: block;
            position: absolute;
            left: 0;
            pointer-events: none;
            z-index: 1;
        }

        &:before{
            top: 3.125rem;
            background: linear-gradient(to top, rgba(255,255,255,0.001), white);
        }

        &:after {
            bottom: 0;
            background: linear-gradient(to bottom, rgba(255,255,255,0.001), white);
        }

        > section {
            padding: var(--open-padding);
        }

        summary {
            background-color: #E1E3E6;
            border-radius: .5rem;
            padding: .625rem 3.333rem .625rem 1.25rem;
            position: relative;
            border-bottom: 1px solid var(--color-border);
            overflow: hidden;

            &:before {
                content: '';
                display: block;
                width: .275em;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background: linear-gradient(to bottom, #000000 33%, #de0000 33.001%, #de0000 66%, #ffcf00 66.001%);
            }

            .icon-logo {
                display: none;
            }

            .icon-close {
                display: inline-block;
                position: absolute;
                right: 1rem;
                top: .95rem;
            }

            span {
                display: block;
            }
        }
    }
}

summary {
    font-size: 1.25rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-weight: 700;
    border-radius: 4rem;
    padding: .25rem;

    &::-webkit-details-marker {
        display: none;
    }

    .icon-logo {
        width: 3.5rem;
        height: 3.5rem;
        margin-right: auto;
    }

    .icon-close {
        display: none;
        width: 1.25rem;
        height: 1.25rem;
        margin-left: auto;
    }

    span {
        display: none;
        width: 100%;

        .icon {
            width: .75em;
            height: .75em;
            margin-left: .25em;
        }
    }
}

.numbers {
    padding: calc(var(--open-padding) / 2);
    position: relative;
    margin: 0;

    b {
        margin-right: .75em;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.article {
    display: block;
    padding: var(--open-padding);
    padding-top: calc(var(--open-padding) * 2);
    padding-bottom: 0;
    border-radius: .25rem;
    margin-top: var(--open-padding);
    color: var(--color-text);
    position: relative;
    border-top: 1px solid var(--color-border);

    &,
    &:focus,
    &:hover {
        text-decoration: none;
    }

    header {
        margin-bottom: .5rem;
    }

    h2 {
        margin-top: 0;
        font-size: 1.25rem;
        padding-right: 1em;
        font-weight: 700;
        margin-bottom: 0;
    }

    small {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        color: #767676;
        padding-top: .25rem;
    }

    .icon {
        width: 1.2em;
        height: 1.2em;
        margin-bottom: -.225em;
    }

    .source {
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-right: 1.5em;
    }

    .timestamp {
        white-space: nowrap;
    }

    main {
        > * {
            &:last-child {
                margin-bottom: .5rem;
            }
        }
    }
}

.icon {
    width: 1em;
    height: 1em;
}

.verified {
    position: relative;
    z-index: 1;

    .icon-logo {
        --color-icon-bg: var(--color-verified);

        width: 1.25em;
        height: 1.25em;
        margin-bottom: -.25em;
        margin-right: .125em;
    }

    &__label {
        position: absolute;
        background-color: var(--color-verified);
        color: var(--color-text-on-primary);
        white-space: nowrap;
        font-size: .5em;
        font-weight: 500;
        display: inline-block;
        padding: .1em .75em .1em 1.5em;
        border-radius: 1em;
        left: 1em;
        top: .3em;
        z-index: -1;
        transform: scaleX(0);
        transform-origin: left center;
        transition: var(--transition);
    }

    &:hover,
    &:focus {
        .verified {
            &__label {
                transform: scaleX(1);
            }
        }
    }
}

@media (min-width: 512px) {
    :host {
        --widget-offset: 2rem;
        --widget-position: fixed;
        --widget-top: auto;
        --widget-right: var(--widget-offset);
        --widget-bottom: var(--widget-offset);

        max-width: 420px;
    }
}
